.quiz{
    max-width: 500px;
    margin: auto;
    input{
        margin-top: 10px;
    }
    label{
        padding-left: 5px;
    }
    .buttonfx{
        color: black; /* button text color */
        outline: none;
        background: transparent;
        border: none;
        border-bottom: 4px solid #eee;
        letter-spacing: 0.0625em;
        padding: 8px 10px; 
        text-transform: uppercase;
        font: bold 16px 'Bitter', sans-serif; /* use google font */
        line-height: 2;
        position: relative;
          display: inline-block;
        margin-right: 20px;
        margin-top: 10px;
        cursor: pointer;
          text-decoration: none; /* remove underline if using A instead of BUTTON tag */
        overflow: hidden;
        transition: all .5s;
      }
      .buttonfx:before,
      .buttonfx:after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        background: #259f6c; /* onhover background color */
        z-index: -1;
        transform: translate3D(0,-100%,0); /* move elements above button so they don't appear initially */
        transition: all .5s;
      }
      
      .buttonfx:before{
        background: #fafcd6; /* button default background color */
        z-index: -2;
        transform: translate3D(0,0,0);
      }
      
      .buttonfx:hover{
          color: white;
      }
      
      .buttonfx:hover:after{
        transform: translate3D(0,0,0);
        transition: all .5s;
      }

      .slidebottomleft:after{
        transform: translate3D(-100%,100%,0);
      }
      
      .slidebottomleft:hover:after{
          transform: translate3D(0,0,0);
        transition: all .5s;
      }

      .bouncein:hover:before,
      .bouncein:hover:after{
        transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66) !important;
      }
}

