<div class="quiz">
    <h3>{{list[i].question}}</h3>
    <form class="answers">
        <input class="answer" name="answer" type="radio" value='{{list[i].incorrect_answers[0]}}'>
        <label for="">{{list[i].incorrect_answers[0]}}</label>
        <br>
        <input class="answer" name="answer" type="radio" value='{{list[i].incorrect_answers[1]}}'>
        <label for="">{{list[i].incorrect_answers[1]}}</label>
        <br>
        <input class="answer" name="answer" type="radio" value='{{list[i].incorrect_answers[2]}}'>
        <label for="">{{list[i].incorrect_answers[2]}}</label>
    </form> 
    <button class="buttonfx slidebottomleft" *ngIf="showNext" (click)="nextQues()">Next</button>
    <button class="buttonfx slidebottomleft bouncein" *ngIf='showSubmit' type="submit">Submit</button>
    <h3 *ngIf="false">{{correctAnswer}}</h3>
</div>




